<div class="mycontainer">
<div class="card text-white bg-primary m-5" style="max-width: 18rem;">
    <div class="card-header text-center"><h2>{{city}}</h2>
    <p><img src="{{iconurl}}" alt="weather image"><img></p></div>
    <div class="card-body">
        <p class="card-text">Summary: {{Summary}}</p>
      <p class="card-text">Temperatur: {{temperature}}°F</p>
      <p class="card-text">Feels like: {{FeelslikeTemp}}°F</p>
      <p class="card-text">Pressure: {{Pressure}}hPa</p>
      <p class="card-text">Humidity: {{Pressure}}%</p> 
    </div>
    <!-- <div class="card-footer bg-transparent border-success"><input type="radio"/> -->
</div>
</div>
  
